[submodule "game-server"]
	path = submodules/game-server
	url = https://github.com/ssamantle/ssamantle-game-server-python
	branch = main
[submodule "web-client"]
	path = submodules/web-client
	url = https://github.com/ssamantle/ssamantle-web-client
	branch = main
